{{>nav_tablas}}

<table style="width:80%" class="table">
  <thead>
    <tr>
      <th scope="col">{{data.Nombre_evento}}</th>  
    </tr>
    </thead>
  <tbody>
    <td>
      <p></p>
      <p>{{data.Persona1}} - {{data.Persona1_votos}} votos </p>
      <p>{{data.Persona2}} - {{data.Persona2_votos}} votos </p>
      <p>{{data.Persona3}} - {{data.Persona3_votos}} votos </p>
    <tr>
      <th scope="row">Estado del evento: {{data.Estado}} </th>
    </tr>
  </tbody>
</table>
