{{>nav_tablas}}    

<div class="container">
    <div class="row justify-content-center">
        <div class=" caja col-md-5 col-sm-12 col-lg-5 col-xl-5" style="background-color: white;">
            <p class=" Titulo text-center fs-2 my-3"> Votacion </p>
            <hr>
            <form action="/tabla/voto/{{data.Nombre_evento}}" method="get" class="pb-4 px-4">
                <p class="Titulo fs-4"> {{data.Nombre_evento}}</p>
                    
                <div class="text-center form-check">
                    <input class="form-check-input boton" type="checkbox" name="voto1" id="defaultCheck1">
                    <label class="texto_integrantes form-check-label fs-4" for="defaultCheck1">{{data.Persona1}}</label>
                </div>
                <div class="text-center form-check">
                    <input class="form-check-input boton" type="checkbox" name="voto2" id="defaultCheck2">
                    <label class="texto_integrantes form-check-label fs-4" for="defaultCheck2">{{data.Persona2}}</label>
                </div>
                <div class="text-center form-check">
                    <input class="form-check-input boton" type="checkbox" name="voto3" id="defaultCheck3">
                    <label class="texto_integrantes form-check-label fs-4" for="defaultCheck3">{{data.Persona3}}</label>
                </div>

                <div class="d-grid gap-2 mt-5">
                    <button class="btn btn-danger" type="submit">Subir Votación</button>
                </div>
            </form>
        </div>
    </div>
</div> 
