{{>nav_tablas}}
<table style="width:80%" class="table">
  <thead>
    <tr>
      <th scope="col">ID del evento</th>
      <th scope="col">Nombre de evento</th>
      <th scope="col">Fecha de creación</th>
      <th scope="col">Detalles de votación</th>
      <th scope="col">Estado</th>
      <th scope="col">Votar</th>
    </tr>
  </thead>

  <tbody>
{{#each Alltablas}}
  <tr>
  <th scope="row">{{this.ID}}</th>
  <td>{{this.Nombre_evento}}</td> 
  <td>{{this.Fecha_creacion}}</td>
  <td id="detalle"><a href="tabla/{{this.Nombre_evento}}">Ver detalles</a></td>
  <td>
    {{#if Estado}} 
      En progreso
    {{else}}
      Terminado
    {{/if}}
  </td>
  <td id="terminado">{{this.Votar}}</td>
  </tr>
{{/each}}
  </tbody>
</table>
